body {
  background-color: #fef0ff;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.top-banner {
}
.com-color1 {
  color: #7b1fbb;
}
.com-color2 {
  color: #ec3967;
}
section {
  display: flex;
  margin-bottom: 80px;
}
.half-width1 {
  width: 50%;
  padding: 10% 0% 0% 5%;
}
.half-width2 img {
  width: 80%;
  padding: 5%;
}
.link-button1 {
  text-decoration: none;
  background-image: linear-gradient(#7b1fbb, #ec3967);
  color: white;
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 10px;
}
.medium-banner {
}
.half-width3 {
  width: 50%;
  padding-right: 5%;
}
.half-width3 img {
  width: 100%;
  padding-left: 5%;
}
